<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <title>{{title}}</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            background-color: #f2e8c9;
        }
        main {
            flex: 1 0 auto;
            padding-bottom: 20px;
        }
        .footer-nav {
            flex-shrink: 0;
            background-color: #ffcbbb;
            width: 100%;
        }
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light" style="background-color: #eee6a3">
        <a class="navbar-brand" href="#">Наше приложение</a>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        {% else %}
            <p>
                <a class="btn text-dark" style="background-color: #fba0e3" href="/register">Зарегистрироваться</a>
                <a class="btn text-dark" style="background-color: #aaf0d1" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<nav class="navbar navbar-light footer-nav">
                <a class="big-link" style="color: #e34234" href="https://t.me/Arishkazaikamyshka">
                    <i class="bi bi-link-45deg me-2"></i>Связь с разработчиками
                </a>
                <a class="big-link" href="https://t.me/subscriptions_rem_bot" style="color: #e34234;">
                    <i class="bi bi-link-45deg me-2"></i>Telegram bot для оповещений
                </a>
                <a href="http://qrcoder.ru" target="_blank">
                    <img src="http://qrcoder.ru/code/?https%3A%2F%2Ft.me%2Fsubscriptions_rem_bot&2&0" width="74" height="74" border="0" title="QR код">
                </a>
            <span class="footer-message" style="color: #e34234;">Надеемся этот сервис поможет вам следить за вашими финансами!</span>
</nav>
</body>
</html>