{% extends "base.html" %}

{% block content %}
<h1>Добавление подписки</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name_serv.label }}<br>
        {{ form.name_serv(class="form-control") }}<br>
        {% for error in form.name_serv.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.payment_date.label }}<br>
        {{ form.payment_date(class="form-control") }}<br>
        {% for error in form.payment_date.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.link.label }}<br>
        {{ form.link(class="form-control") }}<br>
        {% for error in form.link.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}