{% extends "base.html" %}

{% block content %}
<h1>Подписки</h1>
<p></p>
{% if current_user.is_authenticated %}
    <a href="subscribes" class="btn btn-secondary text-dark" style="background-color: #d6ab81;">Добавить подписку</a>
{% endif %}
<p></p>
{% for item in subscribes%}
<p></p>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" style="background-color: #faeedd;">
        <h5 class="card-header" style="background-color: #edc182;">Сервис: {{item.name_serv}}</h5>
      <div class="card-body">
        <p class="card-title">Цена: {{item.price}} рубля</p>
          <p class="card-text">Дата платежа: {{item.payment_date}} числа каждого месяца</p>
        <a href={{item.link}} class="btn btn-primary text-dark" style="background-color: #d2b48c;">Перейти на сайт для оплаты</a>
          <p></p>
          {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/subscribes/{{ item.id }}" class="btn btn-primary text-dark" style="background-color: #ffbf52">
            Изменить
        </a>
        <a href="/subscribes_delete/{{ item.id }}" class="btn btn-primary text-dark" style="background-color: #ffa474">
            Удалить
        </a>
    </div>
{% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}