{% extends "base.html" %}

{% block content %}
<h1 class="my-4">Настройки</h1>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-person me-2"></i>Аккаунт</h5>
        </div>
        <p class="mb-1">Управление настройками профиля</p>
    </a>
    <a href="{{ url_for('subscription') }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-star me-2"></i>Подписка</h5>
        </div>
        <p class="mb-1">Управление подпиской</p>
    </a>
    <a href="{{ url_for('export_csv') }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-file-text me-2"></i>Выгрузка в CSV</h5>
        </div>
        <p class="mb-1">Экспорт всех записей в формате CSV</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-question-circle me-2"></i>Поддержка</h5>
        </div>
        <p class="mb-1">Свяжитесь с нашей службой поддержки</p>
    </a>
    <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action text-danger">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-box-arrow-right me-2"></i>Выход</h5>
        </div>
        <p class="mb-1">Выйти из аккаунта</p>
    </a>
</div>
{% endblock %}